---
import SmallCard from '../components/SmallCard.astro';

const overview = [
   {
    title: "Top Services",
    icon: "library_books",
    body: "Ara global technology provides premium web and mobile application services that satisfy the needs of our clients. In turn gives guidiance, growth, management of resources, data, and availability."
  },
  {
    title:"Excellent Delivery",
icon: "record_voice_over",
body: "Communication between parties is very important in any endevor, so it is a big priority of ours to offer our potential customers top level communication and communication channels."
  },
  {
    title: "Team Work",
icon: "groups",
body: "Depending on the scope of the project being analyzed, the best team is put in place to work on the task in place so the all timelines and expectations are met in delivering our client's vision."
  }
]
---

<div class="row-even">
  {overview.map(overviewcards => (
    <SmallCard 
    title={overviewcards.title}
    icon={overviewcards.icon}
    body={overviewcards.body}
    />
  ))}

</div>