---
export interface props {
  name?: string,
  href?: string,
  image?: string,

}
const {name, href, image} = Astro.props;
---
<div class="container">
  <h4>{name}</h4>
  <a href={href}>
    <img src={image} alt={name}></a>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #025ff8;
    background-color: #00425a;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.13);
    margin: 15px;
  }

  .container:hover {
    transition: all 0.3s ease;
    scale: 0.95;
  }

  .container h4 {
    font-size: 1.2rem;
    color: #eee;
  }

  .container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
  }
</style>