---
import TableHeaderRow from "./TableHeaderRow.astro";
import TableItemRow from "./TableItemRow.astro";
import WebAppTableRow from "./WebAppTableRow.astro";
import MobileTable from "./MobileTable.astro";
import Card from "./Card.astro";
import Dropdown from "./Dropdown.astro"
---
<div class="table-dropdown">
  <div class="dropdown-nav">
    <h3 class="table-title">Static Web Applications</h3>
    <span class="material-icons add active">
      add
      </span>
      <span class="material-icons remove">
        remove
        </span>
  </div>
  
  <table>
    <TableHeaderRow />
  <TableItemRow /> 
</table>
</div>
  <div class="table-dropdown">
    <div class="dropdown-nav">
      <h3 class="table-title">Web Stack Applications</h3>
      <span class="material-icons add active">
        add
        </span>
        <span class="material-icons remove">
          remove
          </span>
    </div>
    <table>
      <TableHeaderRow 
      />
      
      <WebAppTableRow/>
    </table>
  </div>
<div class="table-dropdown">
  <div class="dropdown-nav">
    <h3 class="table-title">Mobile Applications</h3>
    <span class="material-icons add active">
      add
      </span>
      <span class="material-icons remove">
        remove
        </span>
  </div>
  
  <table>
    <TableHeaderRow 
      
    />
    <MobileTable/>
  </table>
</div>


<style>
  table{
    display: none;
  }
  table.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-collapse: collapse;
    margin-bottom: 40px;
    padding: 40px 0;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.22);
  }

  .dropdown-nav {
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    background-color: #eee;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .dropdown-nav:hover {
    transition: all 0.3s ease;
    background-color: #00425a;
    color: #fff;
    scale: 1.01;
  }

  .dropdown-nav .add,
  .dropdown-nav .remove{
    display: none;
  }

  .dropdown-nav .add.active,
  .dropdown-nav .remove.active {
    display: block;
    font-size: 1.5rem;
  }

</style>

<script>
  const tableDropdowns = document.querySelectorAll('.table-dropdown');
  const dropdownIconAdd = document.querySelectorAll('.dropdown-nav .add');
  const dropdownIconRemove = document.querySelectorAll('.dropdown-nav .remove');
  const dropdownNavs = document.querySelectorAll('.dropdown-nav');
  const tables = document.querySelectorAll('table');
  tableDropdowns.forEach((tableDropdown, idx) => {
    tableDropdown.addEventListener('click', () => {
      dropdownIconAdd[idx].classList.toggle('active')
      dropdownIconRemove[idx].classList.toggle('active')
      tables[idx].classList.toggle('active')
})
  })
  
</script>